@(documents: Seq[Document])(implicit flash: Flash)

@main("Watermarking Service") {
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Content</th>
        <th>Title</th>
        <th>Author</th>
        <th>Topic</th>
        <th>Watermark</th>
      </tr>
    </thead>
  <tbody>
  @for(d <- documents) {
    <tr>
      <td>@d.content</td>
      <td>@d.title</td>
      <td>@d.author</td>
      @d match {
      case b: Book => {<td>@b.topic</td>}
      case j: Journal => {<td>-</td>}}
      @if(d.watermark.isEmpty){<td>processing <a class="btn btn-sm btn-default" href="@routes.Application.list"><span class="glyphicon glyphicon-refresh"></span></a></td>} else {<td>@d.watermark</td>}
    </tr>
  }
  </tbody>
  </table>
  @if(flash.get("createdId")) {
    The document has been queued for watermarking. You can <a class="btn btn-default" target="_blank" href="@routes.Application.showDocument(flash.get("createdId").map(_.toInt).getOrElse(-1))">check the status</a> or just <a class="btn btn-default" href="@routes.Application.list"><span class="glyphicon glyphicon-refresh"></span> refresh</a> the whole list.
  } else {
    @if(flash.get("error")){
      @flash.get("error")
    }
  }
  @form()
}